body {
  min-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  color:#ececec;
  background:#ececec;
}
*{
  box-sizing:border-box;
}


h1, h2 {
  color:#fff; }

h3,p{
  color:#333;
  font-size: 16px;
    line-height: 1.2;
}
a{
  text-decoration:none;
}
.huge {
  font-size: 40px	;
  font-weight:100;

}
.title{
  color:#fff;
}

.row {
  margin: 0 !important; }


.content {
  position: relative;
  width: 100%; }

.valign-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap; }

.centered-text {
  position: relative;
  width: 100%;
  text-align: center; }

.lr-padded-50 {
  padding-left: 50px !important;
  padding-right: 50px !important; }

.vertical-spanner {
  position: relative;
  display: block;
  height: 200px; }

.vertical-spanner-100 {
  position: relative;
  display: block;
  height: 100px; }

.centered-div {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }


.fl {
  float: left; }

.fr {
  float: right;
 }

.flex-right {
  display: flex;
  justify-content: flex-end; }

.arrow-down-div-1 {
  width: 100%;
  height: 0;
  border-left: 49vw solid #ececec;
  border-right: 49vw solid #ececec;
  border-top: 49px solid transparent;
  border-bottom: 0.1px solid;
  z-index: 2;
  margin-top:-49px;}

.arrow-down-div-2 {
  width: 0;
  height: 0;
  border-left: 49vw transparent solid;
  border-right: 49vw transparent solid;
  border-top: 49px solid #ececec;
  z-index: 2;
  margin-bottom:-47px; }



.transparent {
  background: transparent; }
 
.brand-name img {
  margin-top: 60px;
  padding: 0;
  max-width:250px; }
.header-text{
    position: absolute;
    bottom: 75px;
    left: 27%;
    text-align: center;
}

  .header-text h2{
    width: 600px;
    font-size: 26px;
    font-weight: 100;
   color:#f1f1f1;
}

.navbar {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
  z-index: 2;
  background-color: #333;

  }
.navbar::before{
    content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background:url("../images/header.jpeg") no-repeat fixed;
    background-size:cover;
    z-index:-1;
    opacity:0.5;
}

  .navbar ul li {
    display: inline-block;
    padding:20px;
     }
    .navbar ul li a {
      color: #ececec;
      text-decoration: none;
      text-transform:uppercase;
       	display:block;
	line-height:32px;
	padding:0 15px;
      transition:all ease-in 0.2s;
      padding-bottom: 10px;
      font-size:initial; }


.navbar ul li a:hover, .navbar ul li a:focus {
        color: #fff;

         }

.navbar ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

.navbar ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	padding:0
}

.navbar ul ul li
{

  float:none;
	width:200px
}

.navbar ul ul a
{
	line-height:120%;
	padding:10px 15px;
background: rgba(0,0,0,0.3);

}


.navbar ul li:hover > ul
{
	display:block;
  z-index:999;
}
.navbar ul ul li:hover
{
 background: rgba(0,0,0,0.3);

}

.nav-menu{
  flex-direction:column;
  align-items:flex-end;

}
.nav-menu h4{
  padding-bottom:0;
  margin-right:0px;
  color:#fff;
  margin-top:-15px;
  font-weight: 100;
}
.nav-menu ul{
  margin-top:0;
}

.about{
  padding:20px 0;
}

.about li img{
  opacity:1;
}
.about .centered-text:hover img{
  opacity:0.8;

}


#content-div-1 {
  position: relative;
  z-index: 1;
  padding:80px 0;
  background-image:url("../images/clients.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  opacity:0.8;
}
.nav {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1; }
    .nav ul li {
    display: inline-block;
    padding:20px 50px;
     }
    .nav ul li a {

      text-decoration: none;
       }
      .nav ul li a i {
        margin-right: 10px; }
      .nav ul li a:hover, .navbar ul li a:focus {
        color: rgba(0, 0, 0, 0.9);

         }
    .nav ul li img {
      max-height: 150px; }

.nav p{
	margin-left: 47px;
    color: #fff;
}
.nav-tab .valign-center{
  padding:10px 40px;

}
.nav-tab .valign-center h2{
  color:#4DB6AC;

}

#content-div-2 {
  position: relative;
  min-height:500px;
  z-index: 1;
  background-image: url("../images/contact.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  padding:80px 0;
  opacity:0.9;
  }
.contact-form{
  max-width:100%;
  padding:30px 0;
	text-align:center;
}
input, textarea {

  font-size: 12px;
  padding: 10px 0;
  text-transform: uppercase;
		}
input[type="text"] {
  float: left;
  margin-bottom: 8px;
  padding-left: 3%;
  width: 49.6%;
  background:transparent;
  border:1px solid #ddd;
  color:#fff;
  border-radius:0px;
  	}
.gutter {
  margin-right: 0.8%;
		}
textarea {
  height: 106px;
  padding-left: 3%;
  margin-bottom: 22px;
  width: 100%;
  background:transparent;
  border:1px solid #ddd;
  color:#fff;
  border-radius:0px;
	}
input[type="submit"] {
  color:#e8e8e8;
  height: 36px;
  width:32%;

  text-align: center;
  background:rgba(255,255,255,0.2);
  border:none;

	}
.contact-info{
  padding:0 160px;
  color:#e8e8e8;
}

.footer{
   text-align:center;
  width:100%;
}
.footer p{
	font-size:12px;
}
.social-list li {
    display: inline-block;
   font-size:40px;
}
.social-list li a{
  color:#333;
  transition:all 0.1s ease-in-out;
}
.social-list li a:hover{
  color:#000;
}
