 
body {
  min-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background:#dddddd;
}

hr {
  border-top: 1px black solid;
  border-bottom: 0px black solid; }

h5 {
  line-height: 1; }

h1, h2 {
  color:#fff; }

h3,p{
  color:#333;
}
.huge {
  font-size: 1.8em;
  font-weight:100;
}
.title{
  color:#fff;
}
.big {
  font-size: 1.5em; }

.row {
  margin: 0 !important; }

.inline {
  display: inline-block !important; }

.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.content {
  position: relative;
  width: 100%; }

.valign-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap; }

.centered-text {
  position: relative;
  width: 100%;
  text-align: center; }

.lr-padded-50 {
  padding-left: 50px !important;
  padding-right: 50px !important; }

.lr-padded-20 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.padded-50 {
  padding: 50px !important; }

.padded-30 {
  padding: 30px !important; }

.padded-20 {
  padding: 20px !important; }

.rounded-corner {
  border-radius: 7px; }

.debug {
  border: 1px red solid; }

.shadow-heavy {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }

.large-paragraph {
  line-height: 1.7; }

.vertical-spanner {
  position: relative;
  display: block;
  height: 200px; }

.vertical-spanner-100 {
  position: relative;
  display: block;
  height: 100px; }

.centered-div {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
.ht-30{
  height:30px;
}
.ht-50 {
  height: 50px; }

.ht-80 {
  height: 80px; }

.ht-100 {
  height: 100px; }

.ht-280 {
  height:280px;
  }

 
.fl {
  float: left; }

.fr {
  float: right; 
 }

.flex-right {
  display: flex;
  justify-content: flex-end; }

.arrow-down-div-1 {
  width: 100%;
  height: 0;
  border-left: 49vw solid #ddd;
  border-right: 49vw solid #ddd;
  border-top: 49px solid transparent;
  z-index: 2;
  margin-top:-49px;}

.arrow-down-div-2 {
  width: 0;
  height: 0;
  border-left: 49vw transparent solid;
  border-right: 49vw transparent solid;
  border-top: 49px solid #ddd;
  z-index: 2;
  margin-bottom:-49px; }

.arrow-down-div-3{
  width:100%;
  height:0;
  border-left:49vw solid #ddd;
  border-right:49vw solid #ddd; 
  border-top:49px solid transparent;
  margin-top:-49px;
  z-index:1;
}

.arrow-down-div-4{
  width:0;
  height:0;
  border-left:49vw transparent solid;
  border-right:49vw transparent solid;
  border-top:49px solid #ddd;
  margin-bottom:-49px;
  z-index:2;

}
.arrow-down-div-5{
  width:100%;
  height:0;
  border-left:49vw solid #ddd;
  border-right:49vw solid #ddd; 
  border-top:49px solid transparent;
  margin-top:-49px;
  z-index:1;
 
}
 
.transparent {
  background: transparent; }

.semi-trans {
  background: rgba(255, 255, 255, 0.2); }

.brand-name img {
  margin-top: 40px;
  padding: 0;
  max-width:250px; }
  
 
.navbar {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
  z-index: 2;
  background-color: #666; 
  
  }  
.navbar::before{
    content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background:url("https://assets.entrepreneur.com/content/3x2/1300/20150727171039-business-desk-workspace-working-hard.jpeg") no-repeat fixed;
    background-size:cover;
    z-index:-1;
    opacity:0.4;
}
   
  .navbar ul li {
    display: inline-block;
    padding:20px;
     }
    .navbar ul li a {
      color: #fff;
      text-decoration: none;
      text-transform:uppercase;
       
      transition:all ease-in-out 0.2s;
      padding-bottom: 10px;
      font-size:initial; }
      .navbar ul li a i {
        margin-right: 10px; }
      .navbar ul li a:hover, .navbar ul li a:focus {
        color: rgba(255,255,255,0.8);
         
        
         }
    .navbar ul li img {
      max-height: 40px; }
  .navbar p {
    font-size: 0.8 em;
    line-height: 1.25 em; }
 
.nav-menu{
  flex-direction:column;
  align-items:flex-end;
  
}
.nav-menu h4{
  padding-bottom:0;
  margin-right:20px;
}
.nav-menu ul{
  margin-top:0;
}

.about{
  padding:40px 0;
} 
 
.about .centered-text{
  opacity:0.6;
  border-right:2px solid #ccc;
}
.about .centered-text:last-child{
  border:none;
}
.about .centered-text:hover{
  opacity:1;
  
}

#content-div-1 {
  position: relative;
  z-index: 1;
  padding:80px 0;
  background-image:url("https://activeitzone.com/template/front/img/wide-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  opacity:0.8;
}
.nav {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1; }
    .nav ul li {
    display: inline-block;
    padding:20px 50px;
     }
    .nav ul li a {
       
      text-decoration: none;
       }
      .nav ul li a i {
        margin-right: 10px; }
      .nav ul li a:hover, .navbar ul li a:focus {
        color: rgba(0, 0, 0, 0.9);
        
         }
    .nav ul li img {
      max-height: 150px; }
.nav ul li a img{
  opacity:0.4;
}
.nav-tab{
  padding:0 50px;
  background:#fff;
  
  
}
.nav-tab .valign-center{
  padding:0 30px;
  
}
.nav-tab .valign-center h2{
  color:#4DB6AC;
 
}
#content-div-2 {
  position: relative;
  min-height:500px;
  z-index: 1; 
  background-image: url("https://www.providentit.com/wp-content/uploads/2016/01/contact-form-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  padding:80px 0;
  opacity:0.9;
  }
.contact-form{
  max-width:100%;
  padding-left:120px;
}
input, textarea {
   
  font-size: 12px;
  padding: 10px 0;
  text-transform: uppercase;
		}
input[type="text"] {
  float: left;
  margin-bottom: 8px;
  padding-left: 3%;
  width: 46.5%;
  background:transparent;
  border:1px solid #ddd;
  color:#fff;
  border-radius:0px;
  	}
.gutter {
  margin-right: 2.8%;
		}
textarea {
  height: 106px;
  padding-left: 3%;
  margin-bottom: 22px;
  width: 96%;
  background:transparent;
  border:1px solid #ddd;
  color:#fff;
  border-radius:0px;
	}
input[type="submit"] {
  color:#e8e8e8;
  height: 36px;
  width:32%;
  
  text-align: center;
  background:rgba(255,255,255,0.2);
  border:none;
  
	}
.contact-info{
  padding:0 160px;
  color:#e8e8e8; 
}

.footer{
   
  height:450px;
  width:100%;
  background-color:#3d4e4d;
  opacity:0.6;
}
  
