body{
  background:rgba(230,175,75,0.9);
  font-family:'Lato',sans-srif;
  color:#334431;
  overflow-x: hidden;
}  
.right-sidebar::-webkit-scrollbar{
    width: 0.6em;
}
 
.right-sidebar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.right-sidebar::-webkit-scrollbar-thumb{
  background-color: rgba(230,175,75,0.9);
  outline: 1px solid slategrey;
}
.member::-webkit-scrollbar{
    width: 0.6em;
}
.member::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 1px 6px rgba(224,80,56,0.9);
}
.member::-webkit-scrollbar-thumb{
  background-color: rgba(224,80,56,0.7);
  outline: 1px solid #fff;
}
.logo{
   text-align:center;
   position:relative;
   z-index:1;
}
.toggle{
  position:fixed;
  top:50px;
  left:50px;
  z-index:2;
  transition:all 0.5s ease-in;
  cursor:pointer;
  font-size:30px;
  
} 
 .right-toggle{
  position:fixed;
  top:30px;
 right:30px;
  z-index:2;
  transition:all 0.5s ease-in;
  cursor:pointer;
}
.toggle-member{
  position:fixed;
  bottom:30px;
  left:40px;
  z-index:2;
  transition:all 0.8s ease-in-out;
  cursor:pointer;
 
} 
.toggle-contact{
  position:fixed;
  bottom:30px;
  right:40px;
  z-index:2;
  transition:all 0.5s ease-in;
  cursor:pointer;
 
  
} 
.page-content{
    
  height:500px;
  position:relative;
  z-index:1;
  
}
.sidebar{
  position:fixed;
  z-index:1;
  left:-485px;
  right:0;
  top:0px;
  bottom:0;
  width:500px;
  background:rgba(224,80,56,0.7);
  padding-top:0px;
   transition:all 0.5s ease-in;
}
 .right-sidebar{
 position:fixed;
  z-index:1;
  right:-485px;
   
overflow-y: scroll;
overflow-x: hidden;
  top:0px;
  bottom:0px;
  width:500px;
   height:640px;
  background:rgba(51,68,49,0.9);
  
   transition:all 0.5s ease-in;
}
.member{
  position:fixed;
  z-index:1;
  bottom:-540px;
  height:500px;
  overflow-y:scroll;
   width:62%;
     
   background:rgba(51,68,49,0.8);
    transition:all 0.8s ease-in-out;
  text-align:center;
}
.contact{
   position:fixed;
  z-index:1;
  bottom:-300px;
  height:300px;
   right:0;
   width:30%;
     
   background:rgba(255,255,255,0.5);
    transition:all 0.8s ease-in-out;
  text-align:center;
}   
 #toggler,#toggler-right,#toggler-member,#toggler-contact{
 
  display:none;
}
#toggler:checked ~ .page-wrap .sidebar{
  left:0px;
}
#toggler:checked ~ .page-wrap .toggle{
  left:80px;
}
#toggler-right:checked ~ .page-wrap .right-sidebar{
 right:0px;
}
#toggler-right:checked ~ .page-wrap .right-toggle{
  right:80px;
}
#toggler-member:checked ~ .page-wrap .member{
  bottom:0px;
}
#toggler-member:checked ~ .page-wrap .toggle-member{
  bottom:400px;
}
#toggler-contact:checked ~ .page-wrap .contact{
  bottom:0px;
}
#toggler-contact:checked ~ .page-wrap .toggle-contact{
  bottom:225px;
}
 
.card{
  background:rgba(255,255,255,0.3);
  padding:5px 20px;
   z-index:0;
  position:relative;
  float:left;
  margin: 20px 120px;
 
}
.card:nth-child(even){
  background:rgba(0,0,0,0.3);
  color:#334431;
  
}
.card:nth-child(even)::after{
   transform:rotate(45deg);
  left:72%;
}
 .card:nth-child(even)::before{
  
  left:96%;
  top:25px;
  
}
.card:nth-child(even) .thumbnail{
  float:right;
   margin:70px 10px;
}
.card:nth-child(even) .text{
margin-left:0;
  margin-right:340px;
  
 
}
.card:nth-child(even) .name{
  background:rgba(255,255,255,0.3);
}
.card::after{
  position:absolute;
  content:"";
  left:-220px;
  top:0;
  right:0;
  bottom:0;
  transform:rotate(50deg);
   z-index:0;
  width:500px;
  height:500px;
  background:rgba(230,175,75,0.7);
}
 .card::before{
  position:absolute;
  content:"";
  left:25px;
  top:25px;
  right:0;
  bottom:0;
 
   z-index:0;
  width:20px;
  height:20px;
   border-radius:50%;
  background:rgba(51,68,49,0.3);
}
 
 
.thumbnail{
  float:left;
  width:220px;
  margin:60px 30px;
  position:relative;
   z-index:999;
 
}
 
.name{
    background:rgba(224,80,56,0.7);
  padding:2px 20px;
  text-align:center
}
.text{
  padding:20px 30px;
  margin-left:340px;
}
.text p{
  font-size:17px;
  position:relative;
   z-index:999;
}
 
.social{
   margin-left:50px;
  margin-top:10px;
}
.photo{
  text-align:center;
  padding:25px
}
@media all and (max-width: 915px){
  .text{
    margin-left:0px;
    clear:both;
  }
  .card{
    padding:0px;
    margin:0;
    margin-right:0px;
  }
  .card:nth-child(even) .text{
    margin:0
  }
}

.row{
  position:relative;
  width:100%;
  height:100%;
}
.col-3{
   padding:50px 20px;
  background:rgba(255,255,255,0.7);
  margin:30px;
  margin-right:15px;
  margin-bottom:15px;
  width:100px;
  height:100px;
  float:left;
  
}
.col-3:nth-child(even){
    background:rgba(224,80,56,0.8);
}
.col-12 h1{
  color:rgba(255,255,255,0.9);
  font-size:45px
   
}
